h1 {
    color: green;
}

#insert {
    font-family: "American Typewriter", sans-serif;
}

.add {
    font-family: "American Typewriter", sans-serif;
}

.row {
    width: 20%;
    height: 40px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}